.idea/
cpu_sender/cmake-build-debug/
cpu_sender/CMakeFiles/
cpu_sender/.idea/
cpu_sender/CMakeCache.txt
cpu_sender/cmake_install.cmake
cpu_sender/Makefile
cpu_sender/SenderBatching
cpu_sender/SenderIncast
cpu_sender/SenderRate
worker/cmake-build-debug/
worker/CMakeFiles/
worker/.idea/
worker/CMakeCache.txt
worker/cmake_install.cmake
worker/Makefile
worker/WorkerBackground
worker/WorkerIncast
worker/WorkerRate
ns3/.idea/
plotting/.idea/